body {
    background-color: lightblue;
}
h1 {
    color:red
}
h2 {
    color:red
}
h3 {
    color:red
}
img {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}